body{
    background-color: whitesmoke;
}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: lightgray;}

#content{
    background-color: darkslategray;
    width: 90%;
    height: 100%;
    margin: auto;
}
#menu{
    width: 80%;
    height: 100px;
    background-color: red;
    margin: auto;
}
#under-menu{
    width: 800px;
    height: 100%;
    background-color: black;
    margin: auto;
}
#under-menu-top{
    width: 100%;
    height: 20px;

}
#item{
    background-color: white;
    width: 100%;
    height: 150px;
    margin-bottom: 1px;
    
}
#item-pic{
    width: 140px;
    height: 140px;
    background-color: gray;
    margin-top: 5px;
    float: left;
    margin-left: 5px;

}   

#under-menu-bottom{
    width: 100%;
    height: 50px;
}