/* allt */
body{
    background-color: white;
}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: lightgray;}

#content{
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
}
#menu{
    width: 80%;
    height: 100px;
    background-color: skyblue;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
}
#under-menu{
    width: 800px;
    height: 100%;
    margin: auto;
}
#under-menu-top{
    width: 100%;
    height: 20px;

}
/* allt-slut */
/* home */
#your-page {
    background-color: skyblue;
    width: 100%;
    height: 150px;
    margin-bottom: 6px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
    
}
#your-page-pic {
    width: 140px;
    height: 140px;
    background-color: gray;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

#under-menu-bottom{
    width: 100%;
    height: 50px;
}

#framsidans-logo1{
    width: 800px;
    height: 350px;
    background-color: darkred;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
}
#white-paragraph{
    color: white;
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
}
#white-paragraph p{
    background-color: black;
    color: black;
}
/* home-slut */
#item {
    background-color: orange;
    width: 100%;
    height: 150px;
    margin-bottom: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;

}
#item-pic {
    width: 140px;
    height: 140px;
    background-color: gray;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

#store-pic {
     width: 140px;
     height: 140px;
     background-color: gray;
     margin-top: 5px;
     float: left;
     margin-left: 5px;
 }
#store{
    width: 800px;
    height: 350px;
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
}
#footer-wrapper {

    background: url(images/footer_bg.png) repeat-x center top;

    width: 100%;

    height: 335px;

    padding: 0px;

    margin: 0px;

    text-align: center;

    clear: both;

    color: #fff;

}

/* footer */
#footer {

    background: url(images/footer.png) no-repeat center top;

    width: 960px;

    height: 335px;

    padding: 0px;

    margin: 0px auto;

    text-align: center;

    clear: both;

}

#footer_p {

    background: url(images/footer_port.png) no-repeat center top;

    width: 960px;

    height: 335px;

    padding: 0px;

    margin: 0px auto;

    text-align: center;

    clear: both;

}

#footer-wrapper p {

    margin: 0px;

    padding: 10px 0px;

}

#footer-wrapper a {

    color: #fff199!important;

}

#footer-text {
    margin: 0px;
    padding: 280px 0px 0px 0px;
}

/* footer-end */